@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-SemiLight.woff2') format('woff2'),
       url('/fonts/CascadiaCode-SemiLight.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-SemiLightItalic.woff2') format('woff2'),
       url('/fonts/CascadiaCode-SemiLightItalic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

.prose a {
  @apply decoration-zinc-500 underline-offset-4;
}

.prose p,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose a,
.prose li {
  @apply text-zinc-200;
}

.prose code {
  @apply text-base;
  font-feature-settings: "liga" on, "calt" on, "ss01" on;
  font-variant-ligatures: contextual;
}

p code {
  font-feature-settings: "liga" on, "calt" on;
  font-variant-ligatures: contextual;
  @apply after:hidden before:hidden;
  @apply bg-[#0d1117] text-[#D2A8FF] border font-normal border-zinc-700 px-0.5 py-1 rounded-md;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  @apply text-stone-200;
}

p {
  @apply leading-7 mb-6;
  font-variant-numeric: slashed-zero;
}

a {
  @apply underline underline-offset-4 decoration-zinc-500;
  @apply transition-colors duration-300;
}

a:hover {
  /* text-decoration: underline; */
  @apply decoration-zinc-200;
}

code {
  /* @apply bg-zinc-900 mx-1 px-1 py-1 rounded-md;  */
  @apply text-base;
  font-variant-numeric: slashed-zero;
}

body {
  font-feature-settings: "ss02", "ss04", "ss05", "ss06", "ss07", "ss08", "ss09",
    "ss11", "ss12" !important;
}

article,
.content-prose {
  @apply prose dark:prose-invert;
}

pre {
  @apply border border-zinc-700;
}
