---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import TinyContainer from '../components/TinyContainer.astro';
---

<Layout title="Welcome to Astro.">
  <TinyContainer>
	<main>
		<ul role="list" class="grid grid-cols-1">
			<Card>
				Hi, I'm Sam. I like to make things for computers and the real world.
      </Card>
      <Card>
				Right now, I'm a product manager at Tailscale. We're building the new internet: small, trusted, human-scale networking.
      </Card>
      <Card>
				I live in Raleigh, North Carolina.
      </Card>
		</ul>
	</main>
</TinyContainer>
</Layout>
