---
import HeaderLink from './HeaderLink.astro';
import Container from './Container.astro';
import { SITE_TITLE, SITE_SUBTITLE } from '../config';
---
<header class="pt-20">
	<Container>
	<nav class="mx-auto max-w-7xl" aria-label="Top">
	  	<!-- Begin desktop menu -->
	  	<div class="flex w-full items-center justify-between py-6">
			<!-- Left side -->
			<div class="flex items-center">
			<a href="#">
				<h2>
					{SITE_TITLE}<br/>
					<span class="text-zinc-400">{SITE_SUBTITLE}</span>
				</h2>
			</a>
			</div>
			<!-- End left side -->
			<!-- Right side -->

			<div class="navpill transition-colors duration-300 px-1 py-1 border rounded-full border-zinc-800 bg-zinc-900">
				<HeaderLink href="/now">Now</HeaderLink>
				<HeaderLink href="/">Blog</HeaderLink>
				<HeaderLink href="/about">Projects</HeaderLink>
				<!-- <HeaderLink href="#">Contact</HeaderLink> -->
			</div>

			<div class="hidden sm:flex items-center justify-center musicpill transition-colors duration-300 border rounded-full border-zinc-800 hover:border-zinc-600 pl-1 py-1 pr-6 bg-zinc-900">
				<img alt="An 8-bit pixel art image of a compact disc rotating" class=" h-[35px] rotate opacity-50 transition-opacity duration-300" src={new URL('/disc.png', Astro.url)}>
				<div class="ml-4">
					<p class="musictitle text-xs text-zinc-400 transition-colors duration-300 leading-0 mb-0">Somethin' from Nothin'</p>
					<p class="musicartist text-xs text-zinc-600 transition-colors duration-300 leading-0 mb-0">Fairground Saints</p>
				</div>
			</div>
		<!-- End right side -->
	  	</div>
	  	<!-- End desktop menu -->
	  	<!-- Begin mobile menu -->
		<!-- <div class="flex flex-wrap justify-center space-x-6 py-4 sm:hidden lg:hidden">
			<HeaderLink href="/">Now</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">Projects</HeaderLink>
		</div> -->
	  <!-- End mobile menu -->
	</nav>
	</Container>
  </header>

<style>
.navpill:hover {
	@apply border-zinc-600;
}

.musicpill:hover img {
	@apply opacity-100;
}

.musicpill:hover .musictitle {
	@apply text-zinc-200;
}

.musicpill:hover .musicartist {
	@apply text-zinc-400;
}

.rotate {
	animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
</style>
