---
import HeaderLink from './HeaderLink.astro';
import Container from './Container.astro';
import MusicPill from './MusicPill.svelte';
import { SITE_TITLE, SITE_SUBTITLE } from '../config';
---
<header class="pt-20">
	<Container>
	<nav class="mx-auto max-w-7xl" aria-label="Top">
	  	<div class="flex w-full items-center justify-between py-6">
			<div class="flex items-center">
			<a class="no-underline" href="/">
				<h2>
					{SITE_TITLE}<br/>
					<span class="text-zinc-400">{SITE_SUBTITLE}</span>
				</h2>
			</a>
			</div>

			<!-- <MusicPill client:only /> -->

			<div class="navpill transition-colors duration-300 px-1 py-1 border rounded-full border-zinc-800 bg-zinc-900">
				<HeaderLink href="/now">Now</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<!-- <HeaderLink href="/about">Projects</HeaderLink> -->
				<!-- <HeaderLink href="#">Contact</HeaderLink> -->
			</div>
			
	  	</div>
	</nav>
	</Container>
  </header>

<style>
.navpill:hover {
	@apply border-zinc-600;
}
</style>
